<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>MJ's Carpet Detail</h2>
            <p>Receive high-quality professional services, from MJ's Carpet & Detail based in Sandy, UT. Whether your project is large or small, our team of experts can provide the resources and solutions you need to get the job done right. Our track record for consistency, timely service, and subject matter expertise make insurmountable tasks possible to overcome.<p>
            <p>Our multifaceted company is here to assist by providing a wide range of services at affordable prices. To speak with an experienced member of staff, simply contact us by phone at your earliest convenience, <a href="tel:8019796821">(801)979-6821</a>.<p>
            <p>Our technicians pride theirselves in competent service and customer satisfaction. MJ's Carpet Detail offers a variety of services in both residential and commercial work.
    </div>
</section>
