<section id="contact" class="content-section text-center">
  <div class="download-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Us!</h2>
            <p>Please email or contact us for Estimations, Jobs or just to find out more</p>
            <p><a href="tel:5551234567">Call (555)123-4567</a>
              <br />
            <a href="mailto:Djudd@yahoo.com">Djudd@yahoo.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/D_Judd11" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/daniel.i.judd" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
