<section id="contact" class="content-section text-center">
  <div class="download-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Us!</h2>
            <p>Please email or contact us for Estimations, Jobs or just to find out more</p>
            <p><a href="tel:8019796821">Call (801)979-6821</a>
              <br />
            <a href="mailto:masonjohnson@mjscarpetanddetail.com">masonjohnson@mjscarpetanddetail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://instagram.com/mjscarpetdetail" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/mjscarpetdetail/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="https://twitter.com/MJCarpetDetail" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
