<section id="services" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Services</h2>
                <p>Carpet Cleaning, Upholstery Cleaning, Tile/Grout, For both Residential and Commercial</p>
                <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Send Email Here</a> -->
            </div>
        </div>
    </div>
</section>
