<%= @testimonial.title %>

<%= link_to 'All Testimonials', testimonials_path, class: 'btn btn-primary' %>

      <table class="table table.hover">
          <tr>
              <th> <%= @testimonial.body %> </th>
          </tr>
      </table>
